*{margin: 0; 
  padding: 0;
  max-width: 100%;}
body{background: rgb(32, 32, 32);}


figure{
    position: relative;
    width: 400px;
    margin: 10px; padding: 3px;
    overflow: hidden;
}
figure img{display:block; width: inherit;}
 
figcaption{
  position:absolute;
  bottom: 3px; opacity:0;
  box-sizing: border-box;
  width: 400px; padding: 4px;
  background: #666;color:#fff;
  font-size: 0.875rem;
  transition: .5s;
}
figure:hover > figcaption{ opacity:.8;}

h1 {
    color:darkseagreen;
    font-size:40px;
}
h2 {
    color:rgb(216, 215, 215);
    font-size: 25px;
}

#introduceEmoji {
    color:rgb(216, 215, 215);
}

#hello {
 position: absolute;
 top:25%;
 left:45%;
}

#helloEmoji {
    position: absolute;
    top:0%;
    left:10%;
}

#imgcaption {
    color:#666;
    font-size: 13px;
    position: absolute;
    top:98%;
    left:30%;
}

#introduceEmoji {
    color:rgb(247, 246, 246);
    font-size: 18px;
    position: absolute;
    top: 60%;
    left: 47%;
    color: inherit;
}

#profile {
    color:rgb(255, 131, 131);
    font-size: 45px;
    position: absolute;
    top: 95%;
    left: 15%;
}

#profileContents {
    color:rgb(216, 215, 215);
    font-size: 20px;
    position: absolute;
    top: 106%;
    left: 15%;
}

#home {
    color:darkorange;
    font-size: 45px;
    position: absolute;
    top: 185%;
    left: 15%;
}

#homeContents {
    color:rgb(216, 215, 215);
    font-size: 20px;
    position: absolute;
    top: 200%;
    left: 15%;
}

#coffee {
    color:rgb(196, 170, 138);
    font-size: 45px;
    position: absolute;
    top: 265%;
    left: 15%;
}

#coffeeContents {
    color:rgb(216, 215, 215);
    font-size: 20px;
    position: absolute;
    top: 278%;
    left: 15%;
}

#menu {
    color:rgb(216, 215, 215);
    font-size: 20px;
    position: absolute;
    top: 324%;
    left: 55%;
}

/*slide*/
.slider{
    width: 350px;
    height: 170px;
    position: absolute;
    top:0%;
    left: 140%;
    margin: 0 auto;
}
.slider input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute; /* 슬라이드가 겹쳐서 모여야 하므로 absolute 속성으로 배치 */
    opacity: 0; /* 체크한 라디오박스 순서의 슬라이드만 표시되도록 기본 투명도 설정 */
    list-style: none;
    padding: 0;
    margin: 0;
}
.bullets{
    position: absolute;
    left: 50%; /* 가로로 가운데 정렬 */
    transform: translateX(-50%);
    bottom: 150px; /* 슬라이드 밑에서 100px 간격 띄움 */
    z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
}
.bullets label{
    display: inline-block; /* 한 줄로 불릿 나열*/
    border-radius: 50%; /* 원형 불릿으로 처리 */
    background-color: rgba(0,0,0,0.55);
    width: 20px; /* 불릿 너비 */
    height: 20px; /* 불릿 높이 */
    cursor: pointer;
}
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
  
#megacoffee {
    position:absolute;
    top: 335%;
    left: 0%;
}
